<h1>User Registration</h1>
<form action="/auth/user" method="POST">
    <label for="username"> Username
        <input type="text" name="username" id="username" required value="<% if (typeof error !== 'undefined') { %><%= body.username %><% } %>">
    </label>  
    <label for="password"> Password
        <input type="password" name="password" id="password" required>
    </label>  
    <button type="submit">Sing Up</button>
    <% if (typeof error !== 'undefined') { %>
     <p style="color: red;"><%= error %></p>
    <% } %>
</form>