<h1>User Registration</h1>
<form action="/auth/user" method="POST">
    <label for="username"> Username
        <input type="text" name="username" id="username">
    </label>  
    <label for="password"> Password
        <input type="password" name="password" id="password">
    </label>  
    <button type="submit">Sing Up</button>
</form>